/* Google Fonts Import */
@import url("https://fonts.googleapis.com/css2?family=Delius&family=Londrina+Shadow&display=swap");

/* Root Variables */
:root {
  --primary-font: "Delius", cursive;
  --secondary-font: "Londrina Shadow", sans-serif;
  --primary-color: #f38609;
  --gradient-bg: linear-gradient(
    90deg,
    rgba(101, 43, 76, 1) 51%,
    rgba(2, 0, 36, 1) 100%,
    rgba(0, 212, 255, 1) 100%);
}

/* Global Styles */
body {
  font-family: var(--primary-font);
  background-color: #4f092a;
  display: flex;
}
main {
  flex: 1;
}
h3,
.card-body p {
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}
body h3 {
  color: var(--primary-color);
}

/* Logo */
.logo {
  width: 120px;
}

/* Navbar */
#navbar .nav-link {
  color: var(--primary-color);
  font-size: x-large;
}
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 0;
  align-items: center;
}
#navbar,
.card,
#header {
  background: var(--gradient-bg);
}

/* Header */
#header {
  width: 50%;
  color: var(--primary-color);
  font-family: var(--secondary-font);
  margin-bottom: 2rem;
}
h2 {
  margin: 0 auto;
}

.img-fluid {
  display: flex;
  border: none;
  width: 100%;
  max-width: 100%;
  align-items: center;
  justify-content: center;
}
.container-reading {
  color: white;
  border: none;
  width: 80%;
  max-width: 90%;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  background: var(--gradient-bg);
  margin: 0 auto;
}

.container-reading h3 {
  padding: auto;
  color: var(--primary-color);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

/* Card Group and Cards */
.card-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  gap: 1rem;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}
.card {
  background: var(--gradient-bg);
  border: 1px solid #fff;
  text-align: center;
  padding: 1rem;
  box-sizing: border-box;
  height: 100%; /* Make all cards the same height */
  color: white;
}
.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body p,
.card-body-carousel p {
  text-align: justify;
  margin: 0 auto;
}
.card-body,
.card-body-carousel {
  padding: 1rem;
}
.card h3,
h4 {
  color: var(--primary-color);
}

/* Carousel */
.carousel {
  width: 90%; /* Default for small screens */
  max-width: 600px; /* Limit size for larger screens */
  margin: auto;
  transition: all 0.3s ease-in-out;
}
.carousel-inner h1 {
  color: var(--primary-color);
}
.card-body-carousel {
  color: white;
  background-color: var(--gradient-bg);
}

.carousel-text,
#p-in-carousel {
  color: white;
}
/* Discover More Button */
.discover-more {
  margin-top: 20px;
  background-color: red;
}
.discover-more:hover {
  background-color: var(--primary-color);
}

/* Question Section */
.question {
  font-family: var(--primary-font);
}
.form-label {
  color: var(--primary-color);
}
.form-control {
  width: 50%;
}
.form-select {
  width: 50%;
}

/* Footer */
footer {
  text-align: center;
  padding: 10px 0;
  margin-top: auto;
  margin: 0;
  width: 100%;
}

/* Media Queries */

/* Extra Small Devices (Phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .img-fluid {
    width: 100%;
  }
  .container-reading {
    width: 100%;
    padding: 1rem;
  }
  .card-group {
    grid-template-columns: 1fr; /* Stack cards in one column */
  }
  .carousel {
    width: 50%;
    margin: auto;
    max-width: 400px;
  }
}

/* Medium Devices (Tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .img-fluid {
    width: 80%;
  }
  .container-reading {
    width: 70%;
    padding: 1rem;
  }
  .card-group {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on medium screens */
    gap: 1rem;
  }
  .card {
    width: 100%;
  }
  .carousel {
    width: 30%;
    max-width: 800px;
  }
}

/* Large Devices (Laptops/Desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .img-fluid {
    width: auto;
  }
  .container-reading {
    width: 40%;
    padding: 1rem;
  }

  .card-group {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  .carousel {
    width: 20%;
    max-width: 800px;
  }
}

/* Extra Large Devices (1200px and up) */
@media only screen and (min-width: 1200px) {
  .container-reading {
    padding: 1rem;
  }
  .card-group {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  .carousel {
    width: 10%;
    max-width: 800px;
  }
}
