/* Google Fonts Import */
@import url("https://fonts.googleapis.com/css2?family=Delius&family=Londrina+Shadow&display=swap");

/* Root Variables */
:root {
  --primary-font: "Delius", cursive;
  --secondary-font: "Londrina Shadow", sans-serif;
  --primary-color: #f38609;
  --secondary-color: #ffffff;
  --background-color: #01060a;
  --gradient-bg: linear-gradient(
   90deg,
   rgba(101, 43, 76, 1) 51%,
   rgba(2, 0, 36, 1) 100%,
   rgba(0, 212, 255, 1) 100%);
 }
body {
  background: var(--background-color);
}

 .header {
  background-image: url("/assets/images/tarot/background-1.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: var(--background-color);
  width: 100%;
  padding-top: 70%;
 }
 .text {
  color: var(--primary-color);
  font-family: var(--primary-font);
  background-color:#220f0fe0;
  border-radius: 5%;
  border: 2px solid #09020229;
  margin-top: -50%;
  margin-right: 15%;
  width: 35%;
  height: auto;
  max-width: 90%;
  padding: 2%;
 }


/* Navbar */
#navbar .nav-link {
  color: var(--primary-color);
 }
 .navbar-collapse {
  flex-basis: 100%;
  flex-grow: 0;
  align-items: center;
 }
 #navbar {
 background: var(--gradient-bg);
 font-size: larger;
 }

 .card {
  background-color:#220f0f;
  color: var(--secondary-color);
 }

 /* Footer */
footer {
  text-align: center;
  padding: 10px 0;
  margin-top: auto;
  margin: 0;
  width: 100%;
  position: relative;
  bottom: 0;
 }
 #all-rights {
  font-size: 25px;
 }

 /* Social links */
.social-links {
  font-size: 3rem;
  margin-left: 20px;
  margin-top: 20px;
 }
 #instagram {
  padding: 10px;
 }
/* Media queries */
 /* Extra small devices (phones, 600px and down)*/
@media only screen and (max-width: 600px) {
  .text {
    width: 80%;
    margin-right: 10%;
    margin-top: -45%;
    font-size: 80%;
  }
  .header {
    background-size: cover;
  }
} 

/* Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {...}*/

/* Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {...}*/

/* Extra large devices (large laptops and desktops, 1200px and up)*/ 
@media only screen and (min-width: 1200px) {
  .header {
    .text {
     
      margin-right: 10%;
      margin-top: -45%;
      font-size: 100%;
    }
  }
}